<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>About me</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<header th:insert="blocks/header :: header"></header><br>
<body>
<div class="container">


    <h4 class="card-title">Links</h4>
    <div class="collection">
        <div class="card-panel teal lighten-2">
            <p><a href="mailto:sh.gairu@gmail.com" class="collection-item">Gmail</a></p>
        </div>

        <p><a href="https://www.deviantart.com/gairugairugairu" class="collection-item active">DeviantArt</a></p>
        <p><a href="https://twitter.com/Gairu_12" class="collection-item">Twitter</a></p>
    </div>

</div>
<div th:insert="blocks/footer :: footer"></div>
</body>
</html>