<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Главная страница</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<main role="main" class="container">

    <div class="row">
        <div class="col s12 m7">
            <div class="card">
                <div class="card-image">
                    <img src="../static/images/kermit.jpg" alt="kermit">
                    <span class="card-title">Привет!</span>
                </div>
                <div class="card-content">
                    <p>Ты на моём блог-портфолио для рисунков!
                        Тут пока еще сыро...НО! я работаю над этим.<br> Пока что можешь посидеть отдохнуть.</p>
                </div>
            </div>
        </div>
    </div>

</main>
<div th:insert="blocks/footer :: footer"></div>
</body>
</html>