<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Главная страница</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<main role="main" class="container">

    <div class="starter-template">
        <h1 mt-5>Привет! Ты попал на мой блог-портфолио для рисунков!</h1><br>
        <p class="lead">Тут пока еще сыро...НО! я работаю над этим.<br> Пока что можешь посидеть отдохнуть.</p>
    </div>

</main>
<div th:insert="blocks/footer :: footer"></div>
</body>
</html>