<div th:fragment="footer"></div>


<footer class="page-footer"><br><br>
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Яочень стараюсь, но у меня плохо получается</h5>
                <img src="../static/images/tenor.gif" alt="tenor"/>
                <p class="grey-text text-lighten-4">пибет.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h4 class="white-text">Links</h4>
                <ul>
                    <li><a href="mailto:sh.gairu@gmail.com" class="collection-item">Gmail</a></li>
                    <li><a href="https://www.deviantart.com/gairugairugairu" class="collection-item active">DeviantArt</a></li>
                    <li><a href="https://twitter.com/Gairu_12" class="collection-item">Twitter</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2020
        </div>
    </div>
</footer>