<div th:fragment="header">

    <!--    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">&ndash;&gt;-->
    <!--        <h5 class="my-0 mr-md-auto font-weight-normal">Blog</h5>&ndash;&gt;-->
    <!--        <nav class="my-2 my-md-0 mr-md-3">&ndash;&gt;-->
    <!--            <a class="p-2 text-dark" href="/">Главная</a>&ndash;&gt;-->
    <!--            <a class="p-2 text-dark" href="/blog">Блог</a>&ndash;&gt;-->
    <!--            <a class="p-2 text-dark" href="/blog/add">Добавить статьтю</a>&ndash;&gt;-->
    <!--            <a class="p-2 text-dark" href="/about">Обо мне</a>&ndash;&gt;-->
    <!--        </nav>&ndash;&gt;-->
    <!--    </div>&ndash;&gt;-->

    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link active" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/blog">Blog</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/blog/add">Add</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/about">About me</a><br>
        </li>
    </ul>

</div>